@import '../../Media/media.scss';
.part-grid{
    max-width:1000px ;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    @include lg{
        grid-template-columns: 1fr;
    }
    #border{
        border-right: 1px solid rgba(0, 0, 0, 0.299);
    }
    .party-detail{
        margin: 40px 0;
       .icon{
        display: flex;
        justify-content: center;
        span{
            font-size: 40px;
            margin-bottom: 10px;
            color: #000000;
        }
       }
       .title{
        display: flex;
        justify-content: center;
        h5{
            font-size: 13px;
            font-weight: 600;
            margin: 0;
            color: #000000;
        }
       }
       .para{
        display: flex;
        justify-content: center;
        font-size: 13px;
        font-weight: 400;
        color: black;
       }
    }
  
}