@import "../../Media/media.scss";
.footer {
  margin-top: 100px;
  text-align: center;
  padding: 40px 0;
  .container {
    max-width: 800px;
    margin: auto;
    .icons {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin-bottom: 30px;
      a {
        display: inline-block;
        img {
          width: 40px;
          object-fit: contain;
          height: 40px;
        }
      }
    }
    p {
    }
  }
}
